@font-face {
    font-family: 'poppins';
    src: url(../Poppins-Medium.ttf);
}
body{
    font-family: 'poppins';
    padding: 0;
    margin: 0;
}
nav{
    color: white;
    background-color: #0475ba;
    height: 74px;
    display: flex;
}
nav > ul {
    list-style-type: none;
    display: flex;
    
}
nav > ul > li{
    padding: 10px;
}
ul > li{
    text-decoration: none;
}
nav h2{

}
header{
    display: flex;
    justify-content: center;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
.arounded-img{
    height: 150px;
    border-radius: 50%;
}
.name-job{
    padding-right: 80px;
}
section:nth-child(even) h2{
	color: #0475ba;
}
section:nth-child(odd) {
	background-color: #0475ba;
    color: white;
}
section{
    display: flex;
    justify-content: center;
}
.content {
	width: 800px;
	padding: 40px;
    display: inline-block;
    line-height: 3;
}
span{
    float: right;
    font-weight: normal;
}
footer{
    height: 150px;
    background-color: #0475ba;
    display: flex;
    justify-content: space-around
}
.footer-div{
    display: flex;
    padding-left: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
}
a{
    color: white;
}