body{
    font-family: Poppins Regular;
}
nav{
    display: flex;
    height: 72px;
    color: white;
    background-color:#0475ba ;
    margin-left: 40px;
    
}
nav h2{
    margin-left: 20px;
}
nav ul{
display: flex;
list-style-type: none;
align-items: center;
margin-right:  auto;
justify-content: space-between;
}
ul li {
    margin: 5px;
    
}
a{
    text-decoration: none;
    color: white;
}
.section-1, .section-2, .section-3, .section-4,.section-5{
    margin-left: 40px;
}
.section-1{
    width: 600px;
    display: flexbox;
    
}
.section-1 h2{
    text-align: center;
}
.section-1 h3{
    color:#0475ba ;
    text-align: center;
}
.section-1 img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.section-2{
    color: white;
    background-color: #0475ba;
    text-align: center;
    
}
.section-4{
    color: white;
    background-color: #0475ba;
    
}
footer{
    
    color: white;
    background-color: #0475ba;
    margin-left: 20px;
    
}

.marge{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 400px;
}

.marge1{
    display: flex;
    flex-direction: column;
}

.marge img{
    margin-left: 200px;
}